body {
    background-color: #508AA8;
    font-family: sans-serif;
}

h2 {
    text-align: center;
    color: orange;
}

#top3, #reborn {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
