body {
    background-color: #508AA8;
    font-family: sans-serif;
}

h2 {
    text-align: center;
    color: orange;
}

#top3, #reborn {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


#top3 div, #reborn div {
    height: 200px;
    width: 300px;
    padding: 20px;
    text-align: center;
    border-bottom: 5px solid orange;

}

#top3 div:hover, #reborn div:hover {
    color: #FAA916;
    box-shadow: 0px 5px 5px black;
    border-bottom: 0px;
    transition: 0.3s;
}

