body {
    background-color: #508AA8;
    font-family: sans-serif;
}

h2 {
    text-align: center;
    color: orange;
}

#top3, #reborn {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#top3 div, #reborn div {
    height: 200px;
    width: 300px;
    padding: 20px;
    text-align: center;
    border-bottom: 5px solid orange;

}
